<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (username) { %>
      <form action="/logout" method="POST" style="float:right">
        <div class="input-wrap">
          <label for="username" class="label">Logged in As:<%= username %></label>
          <button type="submit" value ="logout"class="btn btn-danger">logout</button>
        </div>
      </form>
   <% } else { %>
    <form action="/login" method="POST" style="float:right">
      <div class="input-wrap">
        <label for="username" class="label">Username:</label>
        <input class="input" type="text" name="username" style="width: 200px">
        <button type="submit" class="btn btn-primary">login</button>
      </div>
    </form>
  <%}%>
  </nav>
</header>